$bg-color: rgb(255, 255, 255);

:root {
	--main-color: #129efb;
}

* {
	box-sizing: border-box;
}
.bg {
	background-size: cover;
	height: 100vh;
	background-image: url(./pic3.jpg);
	filter: blur(2px);
}

#quote-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 700px;
	width: 70%;
	background-color: $bg-color;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0px 0px 15px 2px;
	box-shadow: rgba(0, 0, 0, 0.507) 0px 10px 15px;
	border: none;
	p {
		font-weight: 500;
		padding: 5px;
		margin: 0px;
	}

	#text {
		color: var(--main-color);
		text-align: center;
		font-size: 1.5em;
	}

	#author-container {
		text-align: right;

		#author {
			color: var(--main-color);
			font-size: 1.3em;
			margin: 0px;
		}
	}

	#clickables-container {
		padding: 10px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#tweet-quote {
		height: 100%;
	}

	.tw-logo {
		height: 45px;
	}

	#new-quote {
		transition: color 0.3s, background-color 0.3s;
		background-color: var(--main-color);
		height: 100%;
		padding: 10px;
		border-radius: 10px;
		cursor: pointer;
		color: #fff;
		border: 2px solid var(--main-color);
		font-weight: 600;
	}

	#new-quote:hover {
		color: var(--main-color);
		background-color: #fff;
		border: 2px solid var(--main-color);
	}

	.logo-container {
		box-sizing: content-box;
		padding: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		border-radius: 10px;
		border: 2px solid var(--main-color);
		cursor: pointer;
		background-color: var(--main-color);
		height: 100%;

		a {
			display: flex;
			justify-content: center;
			align-content: center;
		}

		.tw-logo {
			transition: background-color 0.3s;
			height: 40px;
			path {
				transition: fill 0.3s;
				fill: #fff;
			}
		}
	}

	.logo-container:hover {
		background-color: #fff;
		.tw-logo {
			path {
				fill: var(--main-color);
			}
		}
	}
}

@media (max-width: 600px) {
	#quote-box {
		width: 90%;
		#text {
			font-size: 1.4em;
		}
		#author-container #author {
			font-size: 1.2em;
		}
	}
}
